<!DOCTYPE html>
<html lang="en">

<head>
  {{>head}}
  <title>Greeting Web Application</title>

</head>

<body>
  {{>bsnavbar}}
  <style>

  .container {
    background-color: #121210;
  }
  .languagediv {
    color: white;
  }
  h3 {
    text-align: center;;
    color: white;
  }
  body {
    color: white;
  }
  b {
    color: black;
  }
  </style>

  <div class="container">
    {{{body}}}
    <div>
      <script src="https://maxcdn.bootstrapcdn.com/bootrap/3.3.5/js/bootrap.min.js"></script><br>
</body>
</div>
</html>
