<div class="page-header">
  <h3>Greeting Web Application</h3>
</div>

<form class="" action="greeted" method="post">
  <input type="text" name="name" placeholder="Type name here" required>
  <b><input type="submit" name="" value="Greet"></b><br></br>


  <div class="languagediv">
    <input type="radio" name="language" value="english" required>English
    <input type="radio" name="language" value="french" required>French
    <input type="radio" name="language" value="isixhosa" required>Isixhosa
  </div><br></br>
</form>
</br <kbir>{{data}}</kbr>
