<div class="page-header">
   <h4>Welcome to greeting exercice</h4>
 </div>

 <form class="" action="greeted" method="post">
     <input type="text" name="" placeholder="Type name here">
     <input type="submit" name="" value="name">
 </form>
